* {
  margin: 0;
  padding: 0;
}
.bx {
  width: 65%;
  margin: 0 auto;
} /* 底部 */
.ff1 {
  width: 100%;
  height: 361px;
  background-color: #505050;
  overflow: hidden;
  position: relative;
}

.ff2 {
  width: 65%;
  height: 296px;
  /* background-color: aqua; */
  margin: 30px auto;
}

.dl1 img {
  border-radius: 5px;
  width: 160px;
  height: 160px;
}

dl {
  float: left;
}

dd {
  font-size: 12px;
  color: #a3a3a3;
}

.dl1 {
  margin-right: 20px;
}

.dl2 {
  width: 142px;
  height: 164px;
  margin-top: 3px;
}

.dd1 {
  margin-top: 30px;
}

.tt2 {
  color: #fff;
}

.ddd3 {
  width: 112px;
  height: 85px;
}

.tt1 img {
  width: 121px;
  height: 46px;
}

.dd3 {
  margin-top: 50px;
}

.ddd5 {
  width: 140px;
}

.dd4 {
  width: 140px;
  margin-top: 3px;
}

.dd4:nth-of-type(1) {
  margin-top: 50px;
}

.ss1 {
  display: inline-block;
  width: 48%;
}

.dd5 a {
  color: #a3a3a3;
}

.dd6 {
  margin-left: 15px;
}

.ppp4 {
  width: 100%;
  height: 20px;
  text-align: center;
  /* background-color: red; */
  position: absolute;
  bottom: 11px;
  color: #a3a3a3;
  font-size: 13px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.tbdh .logo:hover {
  animation: xfbs 1s ease-in infinite;
}
@keyframes xfbs {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
.tbdh {
  width: 100%;
  height: 76px;
  border-bottom: 1px solid #cecfcf;
  box-shadow: 0 0 5px #cecfcf inset;
  display: flex;
  align-items: center;
}
.tbdh .bx {
  display: flex;
  align-items: center;
}
.tbdh .bx .yb {
  margin-left: 280px;
  display: flex;
}
.tbdh .bx .yb a:nth-of-type(2) {
  transition: all 0.15s linear;
  margin-left: 30px;
  color: #fe5341;
  font-size: 16px;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  border: 1px #fe5341 solid;
}
.tbdh .bx .yb a:nth-of-type(2):hover {
  color: #f9fbfd;
  background-color: #fe5341;
}
.tbdh .bx .yb a img {
  width: 24px;
  height: 26px;
  transition: all 0.3s;
  margin-top: 3px;
}
.tbdh .bx .yb a img:hover {
  transform: scale(1.2);
}
.tbdh .bx .dbul {
  width: 450px;
  height: 32px;
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
}
.tbdh .bx .dbul a {
  transition: color 0.2s ease;
  font-size: 20px;
  color: #33335a;
}
.tbdh .bx .dbul a:hover {
  color: #fe5341;
}
.tbdh .bx .dbul .on a {
  color: #fe5341;
}
.tbdh .bx .logo {
  width: 132px;
  height: 50px;
  display: inline-block;
}
.tbdh .bx .logo img {
  width: 132px;
  height: 50px;
}
.bx .mfsy {
  text-align: center;
  padding: 34px 0 30px;
  font-size: 40px;
  font-weight: 400;
}
.bx .tab {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.bx .tab a {
  display: inline-block;
  padding-bottom: 12px;
  width: 165px;
  font-size: 18px;
  color: #a3a3a3;
  text-align: center;
}
.bx .tab .on {
  border-bottom: 4px solid #fe5431;
  color: #fe5341;
}
.nrbj {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}
.nrbj .bx .box2,
.nrbj .bx .box3 {
  display: none;
}
.nrbj .bx .box2 .djjz,
.nrbj .bx .box3 .djjz,
.nrbj .bx .box1 .djjz {
  width: 100%;
  display: flex;
}
.nrbj .bx .box2 .djjz span,
.nrbj .bx .box3 .djjz span,
.nrbj .bx .box1 .djjz span {
  cursor: pointer;
  padding-left: 20px;
  background: url(../images/more.png) no-repeat left center;
  display: inline-block;
  margin: 0 auto;
  color: #fe5341;
}
.nrbj .bx .box2 .djjz .span,
.nrbj .bx .box3 .djjz .span,
.nrbj .bx .box1 .djjz .span {
  padding-left: 20px;
  background: url(../images/loading-icon.gif) no-repeat left center;
  color: #fe5341;
  display: none;
  margin: 0 auto;
}
.nrbj .bx .box2 .zxx,
.nrbj .bx .box3 .zxx,
.nrbj .bx .box1 .zxx {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.nrbj .bx .box2 .zxx li,
.nrbj .bx .box3 .zxx li,
.nrbj .bx .box1 .zxx li {
  margin-bottom: 25px;
}
.nrbj .bx .box2 .zxx li .boxx,
.nrbj .bx .box3 .zxx li .boxx,
.nrbj .bx .box1 .zxx li .boxx {
  height: 13px;
  overflow: hidden;
}
.nrbj .bx .box2 .zxx li .sb,
.nrbj .bx .box3 .zxx li .sb,
.nrbj .bx .box1 .zxx li .sb {
  width: 90%;
  height: 7px;
  position: relative;
  top: -5px;
  border: 2px solid #e6e9e9;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 2;
}
.nrbj .bx .box2 .zxx li .xb,
.nrbj .bx .box3 .zxx li .xb,
.nrbj .bx .box1 .zxx li .xb {
  width: 80%;
  height: 7px;
  position: relative;
  top: -10px;
  border: 2px solid #e6e9e9;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 1;
}
.nrbj .bx .box2 .zxx li:hover img,
.nrbj .bx .box3 .zxx li:hover img,
.nrbj .bx .box1 .zxx li:hover img {
  animation: xfbs 1s ease-in infinite;
}
.nrbj .bx .box2 .zxx li a,
.nrbj .bx .box3 .zxx li a,
.nrbj .bx .box1 .zxx li a {
  z-index: 3 !important;
  background-color: #fff;
  display: block;
  width: 220px;
  height: 230px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #e6e9e9;
  border-bottom: 2px solid #e6e9e9;
}
.nrbj .bx .box2 .zxx li a img,
.nrbj .bx .box3 .zxx li a img,
.nrbj .bx .box1 .zxx li a img {
  width: 100%;
  height: 130px;
}
.nrbj .bx .box2 .zxx li a .wzbf,
.nrbj .bx .box3 .zxx li a .wzbf,
.nrbj .bx .box1 .zxx li a .wzbf {
  position: relative;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
}
.nrbj .bx .box2 .zxx li a .wzbf p,
.nrbj .bx .box3 .zxx li a .wzbf p,
.nrbj .bx .box1 .zxx li a .wzbf p {
  font-size: 14px;
  color: #0f0e0e;
}
.nrbj .bx .box2 .zxx li a .wzbf span,
.nrbj .bx .box3 .zxx li a .wzbf span,
.nrbj .bx .box1 .zxx li a .wzbf span {
  font-size: 12px;
  color: #a3a3a3;
}
.nrbj .bx .box2 .zxx li a .wzbf .jg,
.nrbj .bx .box3 .zxx li a .wzbf .jg,
.nrbj .bx .box1 .zxx li a .wzbf .jg {
  position: absolute;
  top: 67px;
  color: #fe5341;
  font-size: 14px;
  display: flex;
}
.nrbj .bx .box2 .zxx li a .wzbf .jg div,
.nrbj .bx .box3 .zxx li a .wzbf .jg div,
.nrbj .bx .box1 .zxx li a .wzbf .jg div {
  margin-left: 150px;
  display: flex;
}
.nrbj .bx .box2 .zxx li a .wzbf .jg div span:nth-of-type(1),
.nrbj .bx .box3 .zxx li a .wzbf .jg div span:nth-of-type(1),
.nrbj .bx .box1 .zxx li a .wzbf .jg div span:nth-of-type(1) {
  width: 21px;
  height: 21px;
  line-height: 21px;
  text-indent: 15px;
  background: url(../images/xin.png) no-repeat left center;
}
.nrbj .bx .box2 .zxx li a .wzbf .jg div span:nth-of-type(2),
.nrbj .bx .box3 .zxx li a .wzbf .jg div span:nth-of-type(2),
.nrbj .bx .box1 .zxx li a .wzbf .jg div span:nth-of-type(2) {
  width: 21px;
  height: 21px;
  margin-left: 10px;
  line-height: 21px;
  text-indent: 15px;
  background: url(../images/reply.png) no-repeat left center;
}
