* {
  margin: 0;
  padding: 0;
}
.bx {
  width: 65%;
  margin: 0 auto;
} /* 底部 */
.ff1 {
  width: 100%;
  height: 361px;
  background-color: #505050;
  overflow: hidden;
  position: relative;
}

.ff2 {
  width: 65%;
  height: 296px;
  /* background-color: aqua; */
  margin: 30px auto;
}

.dl1 img {
  border-radius: 5px;
  width: 160px;
  height: 160px;
}

dl {
  float: left;
}

dd {
  font-size: 12px;
  color: #a3a3a3;
}

.dl1 {
  margin-right: 20px;
}

.dl2 {
  width: 142px;
  height: 164px;
  margin-top: 3px;
}

.dd1 {
  margin-top: 30px;
}

.tt2 {
  color: #fff;
}

.ddd3 {
  width: 112px;
  height: 85px;
}

.tt1 img {
  width: 121px;
  height: 46px;
}

.dd3 {
  margin-top: 50px;
}

.ddd5 {
  width: 140px;
}

.dd4 {
  width: 140px;
  margin-top: 3px;
}

.dd4:nth-of-type(1) {
  margin-top: 50px;
}

.ss1 {
  display: inline-block;
  width: 48%;
}

.dd5 a {
  color: #a3a3a3;
}

.dd6 {
  margin-left: 15px;
}

.ppp4 {
  width: 100%;
  height: 20px;
  text-align: center;
  /* background-color: red; */
  position: absolute;
  bottom: 11px;
  color: #a3a3a3;
  font-size: 13px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.tbdh .logo:hover {
  animation: xfbs 1s ease-in infinite;
}
@keyframes xfbs {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
.tbdh {
  width: 100%;
  height: 76px;
  border-bottom: 1px solid #cecfcf;
  box-shadow: 0 0 5px #cecfcf inset;
  display: flex;
  align-items: center;
}
.tbdh .bx {
  display: flex;
  align-items: center;
}
.tbdh .bx .yb {
  margin-left: 280px;
  display: flex;
}
.tbdh .bx .yb a:nth-of-type(2) {
  transition: all 0.15s linear;
  margin-left: 30px;
  color: #fe5341;
  font-size: 16px;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  border: 1px #fe5341 solid;
}
.tbdh .bx .yb a:nth-of-type(2):hover {
  color: #f9fbfd;
  background-color: #fe5341;
}
.tbdh .bx .yb a img {
  width: 24px;
  height: 26px;
  transition: all 0.3s;
  margin-top: 3px;
}
.tbdh .bx .yb a img:hover {
  transform: scale(1.2);
}
.tbdh .bx .dbul {
  width: 450px;
  height: 32px;
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
}
.tbdh .bx .dbul a {
  transition: color 0.2s ease;
  font-size: 20px;
  color: #33335a;
}
.tbdh .bx .dbul a:hover {
  color: #fe5341;
}
.tbdh .bx .dbul .on a {
  color: #fe5341;
}
.tbdh .bx .logo {
  width: 132px;
  height: 50px;
  display: inline-block;
}
.tbdh .bx .logo img {
  width: 132px;
  height: 50px;
}
.bjys {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  padding-bottom: 25px;
}
.bjys .bx {
  overflow: hidden;
}
.bjys .bx .bxs {
  margin: 16px 0 16px 0;
  color: #a3a3a3;
  font-size: 12px;
}
.bjys .bx .bxs a {
  color: #a3a3a3;
  font-size: 12px;
}
.bjys .bx .bxx {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bjys .bx .bxx .bxz {
  width: 70%;
  height: auto;
  background-color: #ffffff;
  border-radius: 5px;
}
.bjys .bx .bxx .bxz .s {
  padding: 24px;
  border-bottom: 1px #e0e0e0 solid;
}
.bjys .bx .bxx .bxz .s .bt {
  font-weight: 400;
  font-size: 26px;
  padding-bottom: 15px;
  color: #474747;
}
.bjys .bx .bxx .bxz .s .ss {
  display: flex;
  justify-content: space-between;
}
.bjys .bx .bxx .bxz .s .ss .zz {
  display: flex;
}
.bjys .bx .bxx .bxz .s .ss .zz span {
  line-height: 20px;
  font-size: 12px;
  color: #a3a3a3;
}
.bjys .bx .bxx .bxz .s .ss .zz .span {
  width: 20px;
  height: 20px;
  background: url(../images/tx.jpg) no-repeat;
  margin-right: 8px;
  border-radius: 50%;
}
.bjys .bx .bxx .bxz .s .ss .yy {
  font-size: 12px;
  color: #a3a3a3;
}
.bjys .bx .bxx .bxz .x {
  width: 100%;
  height: auto;
  padding: 24px;
  font-size: 14px;
  box-sizing: border-box;
  letter-spacing: 2px;
}
.bjys .bx .bxx .bxz .x .xq {
  margin: 20px 0 20px 0;
}
.bjys .bx .bxx .bxz .x p img {
  width: 100%;
}
.bjys .bx .bxx .bxz .x p b {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.bjys .bx .bxx .bxz .x p .hgb {
  margin-bottom: 20px;
}
.bjys .bx .bxx .bxz .x ul {
  padding: 35px 0 15px 0;
}
.bjys .bx .bxx .bxz .x ul li {
  color: #a3a3a3;
  font-size: 14px;
  margin-top: 5px;
}
.bjys .bx .bxx .bxy {
  width: 27%;
  display: flex;
  height: 108px;
  overflow: hidden;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #ebeaea;
  box-shadow: 0 1px 1px 1px #eee;
}
.bjys .bx .bxx .bxy .az {
  border-right: 1px solid #ebeaea;
  overflow: hidden;
}
.bjys .bx .bxx .bxy .az span {
  transition: all 0.3s;
  color: #a3a3a3;
}
.bjys .bx .bxx .bxy .az .tp1 {
  margin: 25px 0 10px 0;
  transition: all 0.3s;
}
.bjys .bx .bxx .bxy .az:hover .tp1 {
  background: url(../images/xinRedh.png) no-repeat center;
}
.bjys .bx .bxx .bxy .az:hover span {
  color: #fe6b5a;
}
.bjys .bx .bxx .bxy .zy {
  border-right: 1px solid #ebeaea;
  overflow: hidden;
}
.bjys .bx .bxx .bxy .zy span {
  transition: all 0.3s;
  color: #a3a3a3;
}
.bjys .bx .bxx .bxy .zy .tp1 {
  margin: 25px 0 10px 0;
  transition: all 0.3s;
  background: url(../images/share_yj1.png) no-repeat center;
}
.bjys .bx .bxx .bxy .zy:hover span {
  color: #fe6b5a;
}
.bjys .bx .bxx .bxy .zy:hover .tp1 {
  background: url(../images/shareh_yj1.png) no-repeat center;
}
.bjys .bx .bxx .bxy a {
  width: 50%;
  height: 108px;
  text-align: center;
  background-color: #ffffff;
}
.bjys .bx .bxx .bxy a .tp1 {
  width: 100%;
  height: 26px;
  background: url(../images/xinRedo.png) no-repeat center;
}
